@model IEnumerable<VR_escape_rooms.modeli.Ocjena>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Igra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Komentar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Korisnik.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Igra.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Komentar)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
